body.error404
    text-align: center
    background: $core!important
    margin: 40px 0
    color: #fff
    a
        color: #fff
    .underline
        text-decoration: underline
    .icon
        font-size: 150px
        color: white
        &.icon-local
            position: relative
            height: 80px
            top: -80px