.pre-footer
	padding: 20px 0 40px

footer.site-footer
	position: relative
	color: #fff
	padding-bottom: 20px
	&:before
		content: ''
		position: absolute
		top: -28px
		width: 100%
		height: 40px
		z-index: -1
		transform: rotate(180deg)
		background-position: bottom
		z-index: 1
	.icon
		text-indent: -9999px
		display: inline-block
		overflow: hidden
		width: 50px
		&::before
			font-size: 40px
			float: left
			text-indent: 0
			height: 50px
	> div
		padding-top: 28px
	a
		color: #fff
	.widget-area
		clear: both
		overflow: auto
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: flex-start
		@media screen and (min-width:  0px) and (max-width:  580px)
			display: block
		.widget-column-2
			width: 45%
			@media screen and (min-width:  0px) and (max-width:  580px)
				width: 100%
html.webp
	footer.site-footer:before
		background-image: url('../images/header.webp')
html.no-webp
	footer.site-footer:before
		background-image: url('../images/header.png')
html.webp
	footer.site-footer
		background-image: url('../images/header.webp')
html.no-webp
	footer.site-footer
		background-image: url('../images/header.png')