header.urgent
	overflow: auto
	clear: both
	background-position: top
	&.hide
		opacity: 0
header.primary
	position: relative
	//padding-bottom: 40px
	background-position: bottom
	z-index: 999
	.wrap:first-child
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		align-items: flex-start
	aside.widget-area
		margin-left: auto
		display: inline-block
		#mc_embed_signup
			text-align: right
			#mc_embed_signup_scroll
				.mc-field-group
					label
						display: block
						font-size: 120%
					input
						display: block
						margin: 10px 0
						width: 100%
						padding: 8px 10px
	.logo
		padding: 15px 0 5px 0
		font-size: 88px
		transition: font-size .1s
		@media screen and (min-width:  0px) and (max-width:  406px)
			justify-content: center
		.icon-mind-cy
			color: #fff
			padding-right: 20px
			display: inline-block
		.icon-local
			color: #fff
			transition: padding-top .1s
			@media screen and (min-width:  0px) and (max-width:  406px)
				height: 40px
				&::before
					top: -45px
					position: relative
	&.fixed
		position: fixed
		top: 0
		right: 0
		left: 0

		.logo
			font-size: 60px

	img
		margin: 20px 0 20px 0
		max-width: 100%


nav.main-navigation
	border-radius: 255px 80px 225px 80px/40px 225px 40px 255px
	box-shadow: 3px 1px 0 5px rgba(255,255,255,.2)
	background: rgba(255,255,255,.4)
	margin-bottom: 18px
	max-width: 100%


	> ul
		margin: 0
		padding: 0
		position: relative
		display: flex
		justify-content: space-evenly
		flex-wrap: wrap
		> li
			margin: 0
			padding: 0
			list-style: none
			display: inline-block
			&:hover
				> ul
					display: block
			> ul
				display: none
				position: absolute
				left: 0
				right: 0
				background: white
				padding: 1.25%
				z-index: 999
				border-radius: 255px 15px 225px 15px/15px 225px 15px 255px
				line-height: 1.5em
				border: solid 5px white
				> li
					list-style: none
					border-bottom: 1px solid #ccc
					width: 22.5%
					margin: 1.25%
					float: left
					> a
						font-size: 1em
						color: $core
						display: block
						padding: 10px
						&:hover
							background: rgba(255,204,0,1)

			> a
				font-family: mind
				font-size: 1.5em
				text-decoration: none
				color: #fff
				position: relative
				display: inline-block
				font-size: 24px
				text-decoration: none
				padding: 4px 6px 2px 4px
				white-space: nowrap
				background-color: rgba(0,0,0,0)
				border-radius: 40px 225px 40px 255px/255px 80px 225px 80px
				border-left: 4px solid rgba(0,0,0,0)
				border-top: 4px solid rgba(0,0,0,0)
				&:hover
					color: $core
					background-color: rgba(255,204,0,1)
					border-left-color: rgba(255,180,0,1)
					border-top-color: rgba(255,170,0,1)
					&:after
						content: ''
						display: inline-block
						border-radius: 100%
						background: rgba(255,160,0,1)
						position: absolute
						z-index: -1
						top: -9px
						left: -6px
						width: 20%
						height: 109%
						transform: rotate(11deg)
						border-radius: 225px 40px 40px 255px/255px 80px 225px 80px

				.expand
					position: absolute
					top: 0
					left: 0
					right: 0
					background: #fff

	label.show_menu
		display: none
		font-size: 150%
		color: #fff

	input#show_menu[type="checkbox"]
		display: none

	input#show_menu[type="checkbox"]:checked ~ ul#menu-top-menu
		display: block

	@media screen and (min-width:  0px) and (max-width:  720px)
		border: 0
		border-radius: 0
		box-shadow: 0 0 0 #fff
		background: none
		label.show_menu
			display: block
		> ul 
			display: none
			overflow: auto
			> li
				display: block
				> ul
					position: relative
					> li
						width: 100%
						float: none




html.webp
	body.blue-theme
		header.primary,
		header.urgent
			background-image: url('../images/header.webp')
html.no-webp
	body.blue-theme
		header.primary,
		header.urgent
			background-image: url('../images/header.png')

body.blue-theme
	header.primary .logo
		.icon-mind-cy
			color: #fff
		.icon-local
			color: #fff


	nav.main-navigation
		box-shadow: 3px 1px 0 5px rgba(255,255,255,.2)
		background: rgba(255,255,255,.4)


		> ul > li
			> ul
				background: white
				border: solid 5px white
				> li
					border-bottom: 1px solid #ccc
					> a
						color: $core
						&:hover
							background: rgba(255,204,0,1)

			> a
				color: #fff
				background-color: rgba(0,0,0,0)
				border-left: 4px solid rgba(0,0,0,0)
				border-top: 4px solid rgba(0,0,0,0)
				&:hover
					color: $core
					background-color: rgba(255,204,0,1)
					border-left-color: rgba(255,180,0,1)
					border-top-color: rgba(255,170,0,1)
					&:after
						background: rgba(255,160,0,1)

				.expand
					background: #fff



body.white-theme
	header.primary .logo
		.icon-mind-cy
			color: $core
		.icon-local
			color: $core




	nav.main-navigation
		box-shadow: 3px 1px 0 5px rgba(0, 51, 119, .8)
		background: rgba(0, 51, 119, 1)


		> ul > li
			> ul
				background: white
				border: solid 5px rgba(0, 51, 119, .8)
				> li
					border-bottom: 1px solid #ccc
					> a
						color: $core
						&:hover
							background: rgba(255,204,0,1)

			> a
				color: #fff
				background-color: rgba(0,0,0,0)
				border-left: 4px solid rgba(0,0,0,0)
				border-top: 4px solid rgba(0,0,0,0)
				&:hover
					color: $core
					background-color: rgba(255,204,0,1)
					border-left-color: rgba(255,180,0,1)
					border-top-color: rgba(255,170,0,1)
					&:after
						background: rgba(255,160,0,1)

				.expand
					background: $core