
nav.navigation-quick
	ul
		margin: 0
		padding: 10px 0 0 0
		width: 100%
		li
			list-style: none
			float: left
			margin: 0 20px 0 0
			padding: 0
			a
				display: inline-block
				padding: 8px 12px
				background: $secondary
				border-radius: 5px
				border: 1px solid $core

.menu-social-links-menu-container,
.social-navigation,
.pre-footer
	ul
		margin: 0
		padding: 0
		li
			margin: 0 10px 10px 0
			padding: 0
			list-style: none
			display: inline-block

.pre-footer
	ul
		display: flex
		justify-content: center
		flex-flow: row wrap