.elementor-element-a799c0a > div > h5
    display: none

.elementor-widget-wp-widget-recent-posts.elementor-element-67b1480
    h5
        font-size: 35px
    ul
        margin: 0
        padding: 0
        li
            margin: 0
            padding: 0
            a
                display: block
                padding: 10px 0


#post-639 .wp-block-column.notice
    text-align: center
    .icon
        font-size: 500%
        color: #003377
    .wp-block-group__inner-container
        background: #fff
        border-radius: 10px
        padding: 10px
        margin: 20px 0
