.sprite 
	background-repeat: no-repeat
	background-position: -1 -1
	display: inline-block
	width: 399px
	height: 91px
	text-indent: -9999px
	/* Other Logos */
	&.iiv
		background-position: -3px -169px
		width: 100px
		height: 93px
	&.fareshare
		background-position: -111px -169px
		width: 100px
		height: 100px
	&.business
		background-position: -219px -170px
		width: 100px
		height: 100px
	&.eu
		background-position: -331px -170px
		width: 138px
		height: 100px
	&.wcva
		background-position: -482px -170px
		width: 183px
		height: 100px
	&.ai
		background-position: -679px -183px
		width: 109px
		height: 84px
	&.coleg
		background-position: -799px -165px
		width: 134px
		height: 100px
	&.llandudno
		background-position: -944px -165px
		width: 75px
		height: 100px
	&.mqm
		background-position: -1030px -165px
		width: 106px
		height: 100px
html.webp
	.sprite 
		background-image: url('../images/sprite.webp')
html.no-webp
	.sprite 
		background-image: url('../images/sprite.png')