*
	box-sizing: border-box

body
	margin: 0
	padding: 0
	color: #444
	font-size: 16px
	font-family: Tahoma, "Helvetica Neue", Helvetica, Arial
html.webp
	body
		background: url('../images/bg.webp')
html.no-webp
	body
		background: url('../images/bg.png')

.clear
	clear: both
	width: 100%
	height: 0
	font-size: 0
	display: block

a
	color: $core
	text-decoration: none
p
	margin: 10px 0


h2
	font-size: 200%
h3
	font-size: 180%
h4
	font-size: 160%
h1,h2,h3,h4,h5,h6
	font-family: mind
	margin: 20px 0 10px 0
.elementor-widget-heading .elementor-heading-title,
.elementor-widget-heading.elementor-widget-heading .elementor-heading-title
	font-family: mind
	margin: 20px 0 10px 0
	color: #444!important

.wrap
	max-width: 1110px
	width: 100%
	margin: 0 auto
	padding: 0 20px
	position: relative


header.entry-header
	h1.entry-title
		font-family: mind
		display: inline-block
		margin: 0
		padding: 0
		font-size: 3em
		color: #444

article.panel
	display: inline-block


.box
	min-height: 200px
	box-sizing: border-box
	padding: 30px 20px!important
	width: 100%
	color: #fff
	border-radius: 6px
	position: relative
	background-color: $core
	h1,h2,h3,h4,h5,h6
		margin: 0 0 10px 0
	&.purple
		background-color: $second-secondary
	&.yellow
		background-color: $secondary

.grunion-field-wrap
	padding: 10px 0
	input
		&[type='text'],
		&[type='email'],
		&[type='password'],
		&[type='tel'],
		textarea
			font-size: 120%
			padding: 8px 10px
			border-radius: 5px
			boreder: #959595




.feature
	height: 300px
	//margin-top: -30px
	width: 100%
	overflow: hidden
	text-align: center
	img
		height: inherit
		max-width: 1203px
		width: 100%
		object-fit: cover
		object-position: 50% 100%
	canvas
		position: absolute
		top: -1px
		left: -1px



button,
input[type='submit'],
a.button
	color: #003377
	font-size: 130%
	background: rgba(255,204,0,1)
	border: rgba(255,204,0,1)
	border-radius: 225px 40px 40px 255px/255px 80px 225px 80px
	box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.6)
	padding: 5px 20px
	&:hover
		box-shadow: 0 0 0 0
	&:active
		box-shadow: -1px -1px 0px 1px rgba(0,0,0,0.6)



@font-face
    font-family: 'mind'
    src: url('../fonts/kg.eot')
    src: url('../fonts/kg.eot?#iefix') format('embedded-opentype'), url('../fonts/kg.woff2') format('woff2'), url('../fonts/kg.woff') format('woff'), url('../fonts/kg.ttf') format('truetype')
    font-weight: normal
    font-style: normal